#logo{
    width: 200px;
    height: 200px;
}
header{
    background-image: url("img/pattern.png");
    background-color: lightskyblue;
}
strong{
    color: lightskyblue;
}
table{
    text-align: justify;
}
th{
   background-color: lightskyblue;
   color: white;
}
.linee-updown{
    background-color: lightblue;
}


